
  @font-face {
    font-family: "aventir";
    src: url(./pix/aventir/AvenirLTStd-Medium.otf);
  }

*{
  border: black solid 1px;
    box-sizing: border-box;
    font-family: "aventir", Times, serif;
  }

  /*vvvvvvvvvvvvvvvvvvv NAV STYLING vvvvvvvvvvvvvvvvvvvvvvvvvv*/
  /*navigation bars position for each one */
  .body{
    max-width: 1400px;
    margin: 0 auto;
  }

  .top-nav-l{
    min-width: 75%;
    position: fixed;
    padding: 1%;
  }

  .top-nav-l > i {
    font-size: 120%;
    padding-right: 3%; 
  }

  .top-nav-r{
    width: 20%;
    position: fixed;
    text-align: right;
    left: 77%;
    padding: 1%;
  }
  .top-nav-r > i{
    font-size: 120%;
    padding-right: 10%;
    color: black;
  }

  /*top nav menu styles*/
  .top-nav-l > a, .top-nav-r > a {
    display:inline;
    color: black;
    text-align: center;
    padding: 1.5%;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
  }

  /*if under screen size: */
  @media screen and (max-width: 750px) {
    .bottom-nav-l {text-align: center; bottom: 4%; height: 10%}
    .bottom-nav-l  > a {font-size: 80%; padding: 2%;}
    .bottom-nav-l > div > a  {font-size: 150%; padding: 2%}
    .bottom-nav-l > div {display:block; padding: 0;}
  }
  
  @media screen and (max-width: 450px) {
    .top-nav-l {width: 100%}
    .top-nav-r {top: 4%; width: 26%; left: 74%}
    .top-nav-l > a, .top-nav-r > a  {font-size: 80%; padding: 3%;}
  }


/*-----------main container  -----------*/
.img-div{
  width: 75%;
  min-height: auto;
  top: 20%;
  height: 36%;
  left: 11%;
  position: fixed;
  text-align: center;
}

.image{
  float: left;
  width: 550px;
  max-width: 70%;
  height: auto;
}
.info{
  float: right;
  width: 30%;
  height: 100%;
  overflow: hidden;
}

.thumbnails{
  width: 75%;
  min-height: auto;
  top: 56%;
  height: 15%;
  left: 11%;
  position: fixed;
  text-align: center;
}



















.bottom-nav-l {
  min-width: 98%;
  position: fixed;
  text-align: center;
  bottom: 10%;
  padding: 1%;
}
/*bottom menu styles*/
.bottom-nav-l  > a, .bottom-nav-l > div{
  display:inline;
  color: black;
  text-align: center;
  padding: 2%;
  font-size: 80%;
  font-weight: 700;
  text-decoration: none;
}
/*media div styles*/
.bottom-nav-l > div > a{
  color: black;
  text-align: center;
  padding: 1%;
  font-size: 150%;
  font-weight: 700;
}





