
  @font-face {
    font-family: "aventir";
    src: url(./pix/aventir/AvenirLTStd-Medium.otf);
  }
*{
    box-sizing: border-box;
    font-family: "aventir", Times, serif;

  }

  /*vvvvvvvvvvvvvvvvvvv NAV STYLING vvvvvvvvvvvvvvvvvvvvvvvvvv*/
  /*navigation bars position for each one */
  .body{
    max-width: 1400px;
    margin: 0 auto;
  }

  .top-nav-l{
    min-width: 75%;
    position: fixed;
    padding: 1%;
  }

  .top-nav-l > i {
    font-size: 120%;
    padding-right: 3%; 
  }

  .top-nav-r{
    width: 20%;
    position: fixed;
    text-align: right;
    left: 77%;
    padding: 1%;
  }
  .top-nav-r > i{
    font-size: 120%;
    padding-right: 10%;
    color: black;
  }

  /*top nav menu styles*/
  .top-nav-l > a, .top-nav-r > a {
    display:inline;
    color: black;
    text-align: center;
    padding: 1.5%;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
  }

  .top-nav-l > a.active{
    color: rgb(90, 195, 90);
  }
  
  /*if under screen size: */
  @media screen and (max-width: 750px) {
    .bottom-nav-l {text-align: center; bottom: 4%; height: 10%}
    .bottom-nav-l  > a {font-size: 80%; padding: 2%;}
    .bottom-nav-l > div > a  {font-size: 150%; padding: 2%}
    .bottom-nav-l > div {display:block; padding: 0;}
  }
  
  @media screen and (max-width: 450px) {
    .top-nav-l {width: 100%}
    .top-nav-r {top: 4%; width: 26%; left: 74%}
    .top-nav-l > a, .top-nav-r > a  {font-size: 80%; padding: 3%;}
  }

  /*-----------best match line -----------*/
.search-match-div {
  position: fixed;
  text-align: center;
  top: 8%;
  left: 4%;
  width: 92%;
  height: 5%;
}
.src-bar {
  position: relative;
  text-align: left;
  font-size: 12px;
  top: 1%;
  left: 2%;
  width: 68%;
  border-bottom: rgba(128, 128, 128, 0.527) solid 1px;
}
.fa-search{
  font-size: 250%; 
  padding-bottom: 1%;
  color: rgba(128, 128, 128, 0.527);
}
.bestmatch {
  position: relative;
  text-align: left;
  font-size: 12px;
  bottom: 50%;
  height: 50%;
  left: 74%;
  width: 25%;
  border-bottom: rgba(128, 128, 128, 0.527) solid 1px;
}
.fa-angle-down{
  position: relative;
  font-size: 150%;
  padding-top: 1%; 
  float: right;
  color: grey;
}



/*-----------main container  -----------*/
.filter-img-div{
  min-width: 95%;
  min-height: auto;
  top: 16%;
  height: 60%;
  left: 2.5%;
  position: fixed;
  text-align: center;
}

/*----------- filter LIST stylings -----------*/
.filter-div{
  height: 100%;
  float: left;
  width: 22%;
}

.filter{
  display: block;
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 10px;
  padding-bottom: 10%;
  padding-top: 4%;
  color:  rgba(179, 179, 179, 0.527);
}
 /*----------- SELECT stylings -----------*/
.category{
  display: block;
  position: relative;
  width: 90%;
  text-align: left;
  font-size: 12px;
  padding-bottom: 5%;
  padding-top: 3%;
  border: white solid 1px;
  border-bottom: rgba(179, 179, 179, 0.527) solid 1px;
}

h3{
  text-align: left;
  font-size: 12px;
  padding-top: 4%;
}
.slidecontainer {
  width: 90%;
  height: 7%;
  padding: 1%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.5;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  border: black solid 1px;
  cursor: pointer;
}
.slidecontainer > :nth-child(2){
  font-size: 10px;
  float: left;
}
.slidecontainer > :nth-child(3){
  font-size: 10px;
  float: right;
}







/*-----------image and text div stylings-----------*/
.img-div{
  height: 100%;
  float: right;
  width: 78%;
}
.top{
  float: top;
  padding: 3%;
  height: 50%;
  width: 100%;
}
.btm{
  float: bottom;
  padding: 3%;
  height: 50%;
  width: 100%;
}

/*-----------images positions -----------*/
.img1{
  background-image: url(./pix/1.png);
}
.img2{
  background-image: url(./pix/2.png);
}
.img3{
  background-image: url(./pix/3.png);
}
.img4{
  background-image: url(./pix/4.png);
}
.img5{
  background-image: url(./pix/5.png);
}
.img6{
  background-image: url(./pix/6.png);
}
.img1, .img2, .img3, .img4, .img5, .img6{
  background-position: center; 
  background-size: cover;
  position: relative;
  width: 31.5%;
  height: 80%;
  overflow: hidden;
  float: left;
}
.img1, .img4{ 
  top: -4%;
  left: -3%;
}
.img2, .img5{
  left: 2%;
  top: -4%;
}
.img3, .img6{
  left: 7%;
  top: -4%;
}
/*-----------TEXT BOX positions -----------*/
.img1-txt-box, .img2-txt-box, .img3-txt-box{
  position: absolute;
  top: 30%;
  left: 22%;
  width: 23%;
  height: 17%;
}
.img4-txt-box, .img5-txt-box, .img6-txt-box{
  position: absolute;
  top: 80%;
  left: 22%;
  width: 23%;
  height: 17%;
}
.img2-txt-box, .img5-txt-box{
  left: 49%;
}
.img3-txt-box, .img6-txt-box{
  left: 75.5%;
}

/*-----------WHITE OVERLAP TEXT BOX positions -----------*/
.img1-txt, .img2-txt, .img3-txt, .img4-txt, .img5-txt, .img6-txt{
  position: relative;
  background-color: white;
  float: left;
  height: 100%;
  width: 70%;
}
.img1-txt > :first-child, .img2-txt >:first-child, .img3-txt>:first-child, .img4-txt >:first-child, .img5-txt>:first-child, .img6-txt>:first-child{
  font-size: 16px;
  font-weight: 800;
  text-align: left;
  width: 50%;
  height: 30%;
}
.img1-txt > :nth-child(2), .img2-txt >:nth-child(2), .img3-txt>:nth-child(2), .img4-txt >:nth-child(2), .img5-txt>:nth-child(2), .img6-txt>:nth-child(2){
  font-size: 11px;
  width: 50%;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin-top: -15px;
  height: 30%;
  color:  rgb(163, 163, 163);
}


/*-----------COST TEXT BOX positions -----------*/
.img1-price, .img2-price, .img3-price, .img4-price, .img5-price, .img6-price {
  position: relative;
  float: right;
  top: 55%;
  height: 40%;
  width: 30%;
}
.img1-price>p, .img2-price>p, .img3-price>p, .img4-price>p, .img5-price>p, .img6-price>p {
  font-size: 12px;
  text-align: right;
  margin-top: -1%;
  height: 30%; 
}
.fa-cart-plus{
margin-top: -5px;
 float: right;
}

.pg-nums{
  position: absolute;
  width: 57%;
  left: 23%;
  height: 5%;
  top: 76%;
}
.num {
  height: 90%;
  bottom: -5%;
  width: 9.09%;
  float: left;
  float: inline-start;
}
.num > p{
  font-size: 10px;
  text-align: center;
  margin-top: 2%;
  padding: 20%;
  height: 80%;
}

.p-active{
  background-color: rgb(90, 195, 90);
  border-radius: 5%;
}


.bottom-nav-l {
  min-width: 98%;
  position: fixed;
  text-align: center;
  bottom: 10%;
  padding: 1%;
}
/*bottom menu styles*/
.bottom-nav-l  > a, .bottom-nav-l > div{
  display:inline;
  color: black;
  text-align: center;
  padding: 2%;
  font-size: 80%;
  font-weight: 700;
  text-decoration: none;
}
/*media div styles*/
.bottom-nav-l > div > a{
  color: black;
  text-align: center;
  padding: 1%;
  font-size: 150%;
  font-weight: 700;
}





