
  @font-face {
    font-family: "aventir";
    src: url(./pix/aventir/AvenirLTStd-Medium.otf);
  }
*{
    box-sizing: border-box;
    font-family: "aventir", Times, serif;
  }

  /*vvvvvvvvvvvvvvvvvvv NAV STYLING vvvvvvvvvvvvvvvvvvvvvvvvvv*/
  /*navigation bars position for each one */
  .body{
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .top-nav-l{
    min-width: 75%;
    position: fixed;
    padding: 1%;
  }
  .top-nav-l > i {
      font-size: 120%;
      padding-right: 3%; 
  }

  .top-nav-r{
    width: 20%;
    position: fixed;
    text-align: right;
    left: 77%;
    padding: 1%;
  }
  .top-nav-r > i{
    font-size: 120%;
    padding-right: 10%;
    color: black;
  }
  
  /*top nav menu styles*/
  .top-nav-l > a, .top-nav-r > a {
    display:inline;
    color: black;
    text-align: center;
    padding: 1.5%;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
  }

  .top-nav-l > a.active{
    color: rgb(90, 195, 90);
  }

  /*if under screen size: */
  @media screen and (max-width: 750px) {
    .bottom-nav-l {text-align: center; bottom: 4%; height: 10%}
    .bottom-nav-l  > a {font-size: 80%; padding: 2%;}
    .bottom-nav-l > div > a  {font-size: 150%; padding: 2%}
    .bottom-nav-l > div {display:block; padding: 0;}
  }
  
  @media screen and (max-width: 450px) {
    .top-nav-l {width: 100%}
    .top-nav-r {top: 4%; width: 26%; left: 74%}
    .top-nav-l > a, .top-nav-r > a  {font-size: 80%; padding: 3%;}
  }

  /*^^^^^^^^^^^^^^^^^^^ NAV STYLING ^^^^^^^^^^^^^^^^^^^^*/

.search-match-div {
  position: fixed;
  text-align: center;
  top: 8%;
  left: 4%;
  width: 92%;
  height: 5%;
}

.src-bar {
  position: relative;
  text-align: left;
  top: 1%;
  left: 2%;
  width: 68%;
  border-bottom: rgba(128, 128, 128, 0.527) solid 1px;
}
.fa-search{
  font-size: 250%; 
  padding-bottom: 1%;
  color: rgba(128, 128, 128, 0.527);
}
.bestmatch {
  position: relative;
  text-align: left;
  font-size: 12px;
  bottom: 45%;
  height: 50%;
  left: 74%;
  width: 25%;
  border-bottom: rgba(128, 128, 128, 0.527) solid 1px;
}
.fa-angle-down{
  position: relative;
  font-size: 150%;
  padding-top: 1%; 
  float: right;
  color: grey;
}

.img-div{
  background-image: url(./pix/sofa.png);
  background-repeat: repeat;
  background-color: #8c8061;
  background-position: center; 
  background-size: cover;
  min-width: 95%;
  min-height: auto;
  top: 16%;
  height: 60%;
  left: 2.5%;
  position: fixed;
  text-align: center;
}

.create{
  color: #FFFFFF;
  text-shadow: rgb(98, 98, 98) 0px 0px 5px;

  font-weight: bolder;
  font-size: 300%;
  position: relative;
  text-align: left;
  top: 8%;
  left: 4%;
}
.relax{
  color: #FFFFFF;
  text-shadow: rgb(98, 98, 98) 0px 0px 5px;
  font-style: normal;
  font-size: 120%;
  position: relative;
  text-align: left;
  top: 4%;
  left: 5%;
  text-decoration: underline;

}














.bottom-nav-l {
  min-width: 98%;
  position: fixed;
  text-align: center;
  bottom: 10%;
  padding: 1%;
}
/*bottom menu styles*/
.bottom-nav-l  > a, .bottom-nav-l > div{
  display:inline;
  color: black;
  text-align: center;
  padding: 2%;
  font-size: 80%;
  font-weight: 700;
  text-decoration: none;
}
/*media div styles*/
.bottom-nav-l > div > a{
  color: black;
  text-align: center;
  padding: 1%;
  font-size: 150%;
  font-weight: 700;
}





